.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: #7d7e81ab;
  z-index: 999999;
}

.modal-main {
  position:relative;
  background: white;
  border-radius: 7px;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all 1.56s;
}
.image__holder{
  background: #c8c8c8;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  width: 100%;
  height: 290px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.cancel__btn{
  position:relative;
}
.damage{
    position: absolute;
    right: 0px;
    top: -40px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 7px;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.item__clicked{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.modal__body__inner{
  padding: 2.6rem 10px;
  margin: 0px;
}
.tags{
  font-size: 12px;
  color: #646464;
}