@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "./factories/variable.css";


html,
body {
  margin: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

