.searchbar {
  width: inherit;
}

.search__result{
  margin-left: 10px;
  color: var(--lightgrey);
  font-size: 22px;
  font-weight: 700;
}

.searchbar__title{
    color: var(--greyblue);
    font-size: 22px;
    font-weight: 700;
}

.input_catalog_search {
  padding: 1.65em 2.4em;
  width: 100%;
  max-height: 1.2rem;
  border: 1px solid var(--ashgrey);
  color: var(--black);
  font-weight: bold;
  background: calc(100% - 1.4em) 50%/1.6rem var(--white) url(https://www.udacity.com/assets/iridium/images/course-catalog/search.svg) no-repeat;
  background-position: 10px center;
  background-size: 17px;
  outline: none;
  margin: 10px auto;
  height: 3.5rem;
  font-size: 0.9rem;
  border-radius: 9px;
  display: block;
}

.grid-container {
  width: inherit;
}


